@media (prefers-color-scheme: dark) {
  body {
    background-color: #24292e;
  }

  .markdown-body img {
    background-color: #24292e;
  }

  .markdown-body {
    color: #e0e0e0;
  }

  .markdown-body blockquote {
    color: #95989a;
    border-left: .25em solid #6d6d6d;
  }

  .markdown-body a {
    color: #6bb4ff;
  }
}
