# 週報

> [@kt3k / Yoshiya Hinosawa][kt3k] の週報です

{% for f in file.files %}
- [{{ f.data.title }}]({{ f.relative.replace('.md', '.html') }})
  - {{ f.data.start }} / {{ f.data.end }}
{% endfor %}

---

<p align="center">
[kt3k][] |
[github][shuho-repo]
</p>

[kt3k]: https://github.com/kt3k
[shuho-repo]: https://github.com/kt3k/shuho
