# [@kt3k / Yoshiya Hinosawa](https://github.com/kt3k) の週報

{% for f in file.files %}
- [2018年第{{ f.data.week }}週]({{ f.relative.replace('.md', '.html') }})
  - {{ f.data.start }} to {{ f.data.end }}
{% endfor %}
