<html>
  <head>
    <link rel="stylesheet" href="./css/github-markdown.css">
    <link rel="stylesheet" href="./css/arduino-light.min.css">
    <script src="./js/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <style>
			body {
				box-sizing: border-box;
				min-width: 200px;
				max-width: 980px;
				margin: 0 auto;
				padding: 45px;
			}
		</style>
  </head>
  <body>
    <article class="markdown-body">
      <a href="./">Back</a>
      <h1>2018年第{{file.data.week}}週</h1>
      <blockquote>
        {{ file.data.start.format('YYYY-MM-DD') }} to {{ file.data.end.format('YYYY-MM-DD') }}
      </blockquote>
      {{ file.contents | safe }}
      <hr>
      <a href="./">Back</a>
    </article>
  </body>
</html>
