# 週報

> [@kt3k / Yoshiya Hinosawa][kt3k] の週報です

{% for f in file.files %}
- [{{ f.data.title }}]({{ f.relative }})
  - {{ f.data.start }} / {{ f.data.end }}
{% endfor %}

---

->[kt3k][] | [github][shuho-repo]<-

[kt3k]: https://github.com/kt3k
[shuho-repo]: https://github.com/kt3k/shuho
