<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{% if file.data.title %}{{ file.data.title }} | {% endif %}{{ SITE_TITLE }}" />
    <meta property="og:image" content="https://{{ DOMAIN }}/img/logo.png" />
    <meta property="og:image:width" content="256" />
    <meta property="og:image:height" content="256" />
    <meta property="og:description" content="{{ SITE_DESCRIPTION }}" />
    <title>{% if file.data.title %}{{ file.data.title }} | {% endif %}{{ SITE_TITLE }}</title>
    <link rel="stylesheet" href="{{ file.data.basepath }}/css/github-markdown.css" />
    <link rel="stylesheet" href="{{ file.data.basepath }}/css/arduino-light.min.css" />
    <link rel="icon" href="{{ file.data.basepath }}/favicon.ico" />
    <script src="{{ file.data.basepath }}/js/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <style>
			body {
				box-sizing: border-box;
				min-width: 200px;
				max-width: 980px;
				margin: 0 auto;
				padding: 30px;
			}
      .align-center {
        text-align: center;
      }
		</style>
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v3.0&appId=121142394633952&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <article class="markdown-body">
      {{ file.contents | safe }}
    </article>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121539714-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-121539714-1');
    </script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
