<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@kt3k" />
    <meta property="og:url" content="https://shuho.kt3k.org/{{ file.relative }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{% if file.data.title %}{{ file.data.title }} | {% endif %}{{ SITE_TITLE }}" />
    {% if file.data.title %}
    <meta property="og:image" content="https://shuho-og-image.vercel.app/{{ file.data.title | urlencode }}" />
    {% else %}
    <meta property="og:image" content="https://shuho-og-image.vercel.app/Weeknotes" />
    {% endif %}
    <meta property="og:description" content="{{ SITE_DESCRIPTION }}" />
    <title>{% if file.data.title %}{{ file.data.title }} | {% endif %}{{ SITE_TITLE }}</title>
    <link rel="stylesheet" href="{{ file.data.basepath }}/css/sakura.css" />
    <link rel="stylesheet" href="{{ file.data.basepath }}/css/arduino-light.min.css" />
    <link rel="icon" href="{{ file.data.basepath }}/favicon.ico" />
    <script src="{{ file.data.basepath }}/js/highlight.min.js"></script>
    <script src="{{ file.data.basepath }}/js/go.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <style>
      .align-center {
        text-align: center;
      }
		</style>
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v3.0&appId=121142394633952&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <article class="markdown-body">
      {{ file.contents | safe }}
    </article>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121539714-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-121539714-1');
    </script>
  </body>
</html>
