[Back][]

# {{ file.data.title }}

> The weeknote for {{ file.data.start }} - {{ file.data.end }}.

{{ file.contents | safe }}

---
[Back][]

[Edit this page][Edit]

[Back]: {{ file.data.basepath }}
[Edit]: https://github.com/kt3k/shuho/edit/main/{{ file.relative.replace('.html', '.md') }}
