[Back][]

# {{ file.data.title }}
> {{ file.data.start }} / {{ file.data.end }}

{{ file.contents | safe }}

---
[Back][] | [Edit][]

[Back]: {{ file.data.basepath }}
[Edit]: https://github.com/kt3k/shuho/edit/master/{{ file.relative.replace('.html', '.md') }}
