[Back][]

# {{ file.data.title }}

> {{ file.data.start }} - {{ file.data.end }}


{{ file.contents | safe }}

---

<div class="fb-like" data-href="https://{{ DOMAIN }}/{{ file.relative }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>

---
[Back][]

Did you find a mistake in the article? You can fix it [here][Edit].

[Back]: {{ file.data.basepath }}
[Edit]: https://github.com/kt3k/shuho/edit/master/{{ file.relative.replace('.html', '.md') }}
